{% include 'head.html'%}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 ms-2">
        <div class="card p-4 mt-5">
            <form action="../buyReg1/" method="post">
                <input type="hidden" name="email" value="{{email}}">
                <input type="hidden" name="otp" value="{{otp}}">
                {% csrf_token %}
                <div class="h4 text-center">Buyer Details</div>
                <div class="form-group">
                    <label for="otp2">Otp</label>
                    <input type="number" class="form-control" id="otp2" placeholder="Enter Otp" name="otp2" required>
                </div>
                <div class="form-group mt-2">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" required>
                </div>
                <div class="form-group mt-2">
                    <label for="phone">Phone</label>
                    <input type="tel" class="form-control" id="phone" placeholder="Enter Phone" name="phone" required>
                </div>
                 <div class="form-group mt-2">
                    <label for="address">Address</label>
                     <textarea  class="form-control" id="address"  name="address" required></textarea>
                </div>
                <input type="submit" value="Register And Login" class="btn btn-primary w-100 mt-2">
            </form>
        </div>

    </div>
</div>