{% if 'admin' in request.session%}
{% include 'admin.html' %}
{% elif 'Buyer' in request.session%}
{% include 'Buyer.html' %}
{% endif%}
{% load custom_tags %}

<div class="container mt-3">
    <div class="text-center h6">Product Ratings And Reviews</div>
        <div class="row">
                <div class="col-md-12">
                    <div class="card p-3 m-1">
                        
                        {% for total_review in total_reviews%}
            
                            <div class="text-muted mt-2" style="font-size:80%">Review By  <b>( {{total_review.5 |get_buyer_by_total_review}})</b>  on {{total_review.3}}</div>
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="text-muted mt-2" style="font-size:80%">Rating : </div>
                                    <div class="h6">{{total_review.1}}</div>
                                </div>
                                <div class="col-md-11">
                                    <div class="text-muted mt-2" style="font-size:80%">Review : </div>
                                    <div class="h6">{{total_review.2}}</div>
                                </div>
                            </div>

                        <hr>
                        {% endfor%}
                    </div>
                </div>
        </div>
    </div>
</div>